@import '../../scss/mixins.scss';
@import '../../scss/palette.scss';
@import '../../scss/state.scss';
// dashboard
.dashboard {
    margin: 0 auto;
    // height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    &__org-need {
        grid-column: 1;
        grid-row: 1;
    }
    &__make-impact{
        grid-column: 2;
        grid-row: 1;
    }
    &__tabs_content {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    &__content {
        z-index: 1;
        height: 70vh;
        width: 79.4vw;
        border-top: none;
        overflow: auto;
    }
    &__tab {
        margin-bottom: -3px;
        padding: 7.2px;
        display: inline-block;
        color: $brand-orange;
        border-radius: 1px;
        &__active {
            border: 1px solid $brand-green;
            background-color: $brand-green;
            color: white;
        }
    }
}
// components
.list__item {
    &__closed {
        height: 10vh;
        width: 100%;
        border: 3px solid $brand-green;
        box-sizing: border-box;
        overflow: hidden;
        @include responsive($lg) {
            height: 100%;
        }
    }
    &__open {
        // height: 20vh;
        width: 100%;
        background-color: $brand-green;
        color: white;
    }
}
.production {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 1fr);
    text-align: center;
    &__list-items {
        display:grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(5, 20%);
        grid-auto-flow: column;
    }
}

.button-wide {
    margin: 2px 0;
    height: 5vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;
    color: white;
    @include responsive($med) {
        min-width: 12vw;
    }
    @include responsive($lg) {
        flex-direction: row;
        height: 5vh;
        min-width: 0;
        width: 20vw;
    }
}

//modals
.dashboard-modal {
    z-index: 1;
    position: absolute;
    width: 40vw;
    height: 50vh;
    border: 1px solid gray;
    border-radius: 5%;
    background: white;
    padding: 3%;

    & .close-x {
        text-align: right;
        cursor: pointer;
        grid-row: 1;
        grid-column: 1;
    }
}