@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Suez+One&display=swap');
// fonts
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Suez One', serif;
// sizes
$body-one: 2em;
$body-two: 1.5em;
$heading-one: 2.5em;
$heading-two: 2.1em;
$heading-three: 1.7em;