@import './state.scss';

@mixin responsive($query) {
    @media (min-width: + $query) {
        @content;
    }
};


@mixin form-element-rows($number) {
    .form-element-#{$number} {
        grid-column: 1;
        grid-row: #{$number};
        text-align: left;
        padding-left: 10%;
        margin: 1%;
    }
};