@mixin columns($count, $width) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;

    -webkit-column-width: $width;
    -moz-column-width: $width;
    column-width: $width;
};

@mixin page-break-inside($rule) {
    -webkit-column-break-inside: $rule;
    page-break-inside: $rule;
    break-inside: $rule;
};

@mixin responsive($query) {
    @media ( min-width: + $query ) {
        @content;
    }
};
