@import '../../scss/fonts.scss';
@import '../../scss/mixins.scss';
@import '../../scss/palette.scss';
@import '../../scss/state.scss';
// fonts
.body-one {
    font-family: $sans-serif;
    font-size: $body-one;
}
.body-two {
    font-family: $sans-serif;
    font-size: $body-two;
}
.heading-one {
    font-family: $serif;
    font-size: $heading-one;
}
.heading-two {
    font-family: $serif;
    font-size: $heading-two;
}
.heading-three {
    font-family: $serif;
    font-size: $heading-three;
}
// colors
.background-green {
    background-color: $content-green;
}
.background-orange {
    background-color: $content-orange;
}